.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
.remake

build/*
out_data/*.csv
out_data/*.zip
out_data/*.R
out_data/*.ind
out_data/*.png
out_xml/*.xml
in_data/*
!in_data/.empty
!in_data/states_poly.rds
tmp_data/*
!tmp_data/EMPTY
compress_tmp/*

